.container {
    width: 100%;
    padding: 0px 16px;
    margin: 8px 0px;
    display: flex;
    flex-wrap: wrap;  
}

@media all and (min-width: 320px) {
    .container {
       justify-content: center;
    }
}

