@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e7e3e3;
  font-family:'Nunito', sans-serif ;
}
html,body {
  background-color: #042443;
}

input {
  outline: none;
  box-shadow: none;
  border: none;
}

@media all and (min-width: 1600px){
   header {
     padding: 15px 150px !important;
   }
   nav {
    padding: 15px 125px !important;
   }
   main {
    padding: 15px 148px !important;
   }
}